:root{
    --QuestLeftPosition: 900px;
}

a
{
    font-size: large;
}

a:link
{
    color: rgb(53, 18, 1);
    background-color: transparent;
    text-decoration: none;
}

a:hover
{
    color: rgb(57, 0, 0);
    background-color: transparent;
    text-decoration: underline;
}

a:visited
{
    color: rgb(53, 18, 1);
    background-color: transparent;
    text-decoration: none;
}

@font-face
{
    font-family: RPGFont;
    src: url("../Assets/AppleChanceryRegular.ttf") format('truetype');
    font-weight: normal;
    font-display: swap;
}

body{
    margin: 10px;
    background-color: burlywood;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main{
    position: relative;
    min-width: fit-content;
}


.position{
    position: relative;
}


#quest1{
    top: 0px;
    left: 0px;
}

#quest1Info
{
    font-family: RPGFont;
    src: url("../Assets/AppleChanceryRegular.ttf") format('truetype');
    top:-700px;
}

#quest2{
    top: 0px;
    left: 0px;
}

#quest2Info
{
    font-family: RPGFont;
    src: url("../Assets/AppleChanceryRegular.ttf") format('truetype');
    top:-700px;
}

.QuestSize
{
    height: 992px;
}