body{
    margin: 10px;
    background-color: burlywood;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main{
    position: relative;
}

.div-selections:hover{
    transition: 1.5s;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.position{
    position: absolute;
}

.relative{
    position : relative;
}

#ueprojects{
    top: -772px;
    left: -50px;
}

#minigames{
    top: -600px;
    left: -220px;
}

#collegeprojects{
    top: -900px;
    left: 175px;
}

#WorldMapDiv{
    height: 972px;
}